streamlit
pandas
numpy
altair
requests
openpyxl
notion-client
streamlit_option_menu
psycopg2-binary
sqlalchemy
pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss-cpu
ctransformers
gunicorn